// Primary colors
$primary_light: #ffffff;
$primary_medium: #2b7fff;
$primary_dark: #011c44;
$header_color: #ffffff40;

// Secondary colors
$secondary_one: #4a4a4a;
$secondary_two: #747272;
$secondary_three: #011f4a;
$secondary_four: #ffd02b;

// fonts
$primary_font: "Roboto", sans-serif;
$secondary_font: "Play", sans-serif;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
